* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
}

.container {
  max-width: 430px;
  margin: 0 auto;
}

img {
  width: 100%;
}

.icon {
  width: 8%;
  margin: 5px;
}

/*  NAV/LOGO */

.logo-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 2px solid rgb(240, 240, 240);;
  height: 60px;
}

.logo {
  height: 40px;
  width: auto;
}

.avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.spacer:not(:last-child) {
  height: 30px;
  background-color: rgb(240, 240, 240);
}

/* POST HEADER */

.post-header {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.post-info {
  padding: 15px 10px;
}

.username,
.location {
  margin: 0;
}

.username,
.likes {
  font-weight: 800;
}

/* POST */
.post {
  margin-bottom: 20px;
}

.post-actions {
  margin-top: 10px;
}

/* POST BOTTOM */
.likes,
.comment {
  padding-left: 14px;
}

.likes {
  margin-top: 0;
}
